<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>AQI & Weather</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="css/styles2.css">
  <link href="https://fonts.googleapis.com/css?family=Jost&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
</head>

<body>
  <h1><%= myCity %>, <%= myState %> </h1>

  <div class="date-details">
  </div>

  <div class="row">
    <div class="col-lg-6 d-flex justify-content-center">
      <div class="card aqi-card">
        <img class="card-img-top aqi-img mx-auto d-block" src="images/<%= myColor %>.png">
        <div class="card-body">
          <h5 class="card-title">AQI: <%= myAqi %> </h5>
          <p class="card-text"><%= myText %> </p>
        </div>
      </div>
    </div>

    <div class="col-lg-6 d-flex justify-content-center">
      <div class="card temp-card">
        <img class="card-img-top temp-img mx-auto d-block" src="images/<%= myTempIcon %>.png">
        <div class="card-body">
          <h5 class="card-title"><%= myTemp %>°C</h5>
          <p class="card-text">Humidity: <%= humidity %>%</p>
          <p class="card-text">Wind Speed: <%= windSpeed %> m/s</p>
        </div>
      </div>
    </div>
  </div>

  <form action="/reset" method="POST">
    <button type="submit" class="btn btn-outline-dark btn-lg reset-btn">Get another city's data</button>
  </form>

  <script>
    $(function () {
      var d = new Date();
      var days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
      var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
      var date = d.getDate();
      var month = d.getMonth();
      var today = d.getDay();
      var hours = d.getHours();
      var minutes = d.getMinutes();
      var timePeriod;

      if (hours > 12) {
        timePeriod = "pm"
      } else {
        timePeriod = "am"
      }

      $('.date-details').append('<h2 class="date">' + days[today] + ", " + date + " " + months[month] + '</h2>')

      if (minutes < 10)
        $('.date-details').append('<h3 class="time">' + hours + ":" + "0" + minutes + " " + timePeriod + "</h3>");
      else
        $('.date-details').append('<h3 class="time">' + hours + ":" + minutes + " " + timePeriod + "</h3>");

    });

  </script>
</body>

</html>